    @charset "utf-8";
    html {}
    
    body.logout {
        background:linear-gradient(#3C4767 60%,#8b0000);
    }
    
    header {
        background: #3C4767;
    }
    header.logout{
        text-align: center;
    }
    header.logout p{
        color: #fff;
        font-size: 23px;
    }
    header.logout img{
        margin-top: 50px;
    }
    
    #head {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
        height: 100px;
    }
    
    #head h1 {
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        text-align: center;
    }
    
    #head img {
        width: 150px;
        height: auto;
        
    }

    a{
        text-decoration: none;
    }

    /*--      ログイン画面 
    ---------------------------------------------------*/
    .login-page{
        width: 200px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgba(0,0,0,0.1);
        padding: 0px 10px;
        position: absolute;
        margin: 80px 500px;
        border-radius: 5px;
    }
    .login-page p{
        color: #fff;
        text-align: center;
    }

    .login-page .login-form{
        margin: 10px 0;
    }
    .mail-form{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .mail-form label , .pw-form label{
        color: #fff;
        float: left;
        margin-left: 15px;
    }
    .pw-form{
        margin-bottom: 20px;
        text-align: center;
    }

    .login-button{
        display: flex;
        justify-content: flex-end;
        margin-right: 17px;
        border: none;
        color: #fff;
    }
    .login-button input{
      background: #1e90ff;
      border: none;
      color: #fff;
      border-radius: 3px;
      padding: 5px 10px;
    }
    .new-user{
        margin-top: 25px;
    }
    .login-page .new-user a{
        color: #fff;
        text-align: center;
        font-size: 13px;
    }


    /*--     新規登録
    ----------------------------------------------------------*/
    .register-form{
        width: 200px;
        height: auto;
        display: block;
        position: absolute;
        text-align: center;
        background:rgba(0,0,0,0.1);
        padding: 0px 10px;
        border-radius: 5px;
        margin: 30px 500px;
    }
    .register-button{
        margin-top: 20px;
        margin-left: 105px;
        color: #fff;
    }
    .register-button input{
        background: #1e90ff;
        border: none;
        color: #fff;
        border-radius: 3px;
        padding: 5px 10px;
      }
    .register-form h2{
        margin-top: 20px;
        color: #fff;
    } 
    .register-mail,.register-username,.register-confirm,.register-password {
        margin-top: 20px;
    }
    .register-form p{
        width: 150px;
        margin-top: 20px;
        margin-left: 25px;
        color: #fff;
        text-align: center;
        font-size: 15px;
    }
    .register-mail label,.register-username label,.register-confirm label,.register-password label{
        color: #fff;
        float: left;
        margin-left: 15px;
    }
    .back-login{
        margin-bottom: 10px;
    }
    .back-login a{
        color: #fff;
    }

    /*--   added画面
    -----------------------------------------*/
    #clear{
        width: 300px;
        height: 300px;
        display: block;
        position: absolute;
        text-align: center;
        background:rgba(0,0,0,0.1);
        padding: 0px 10px;
        border-radius: 5px;
        margin: 80px 450px;
    }
    #clear p{
        margin: 30px 0;
        color: #fff;
    }
    #clear a{
        color: #fff;
    }
    #clear p.btn{
        width: 120px;
        padding: 8px;
        border-radius: 5px;
        margin-left: 80px;
        background: #1e90ff;
    }



    /* main content */
    
    #row {
        display: flex;
        flex-flow: row wrap;
    }
    
    #container {
        flex: 0 0 80%;
    }
    
    /*--  サイドバー   --*/
    #side-bar {
        flex: 0 0 19%;
        border-left: 1px solid #6C6C6C;
        z-index: 1;
    }

    #confirm .follow{
        display: flex;
        justify-content: space-around;
    }
    #side-bar p.btn{
        width: 150px;
        background: #3C4767;
        border-radius: 5%;
        margin-top: 50px;
        margin-left: 50px;
    }
    #confirm p.btn{
        width: 150px;
        background: #3C4767;
        border-radius: 5%;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    #side-bar p.btn a{
        color: #fff;
        text-decoration: none;
    }
    /*--   #dawn  --*/
    #pulldawn-menu{
        width: 228px;
        padding-left: 8px;
        margin-top: 40px;
        z-index: 100;
    }
    
    #dawn ul {
        display: flex;
        justify-content: center;
    }
    #dawn li{
        cursor: pointer;
    }
    #head #dawn img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        margin-top: -22px;
        margin-left: 80px;
    }
    #dawn p{
        position: absolute;
        margin-top: 10px;
        margin-right: 40px;
    }
   .arrow{
    margin-top: 14px;
    margin-left: 60px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color:  transparent transparent #ddd #ddd;
    transform: rotate(-45deg);
   }
   .arrow.rotate {
    transform: rotate(135deg);
  }
   
    /*   #dawn サブメニュー  */
    #pulldawn-menu ul.sub-menu {
        display: none;
        position: absolute;
    }
    #dawn ul.sub-menu{
        background: #fff;
        margin-top: 36px;
        width: 238px;
        margin-left: -45px;
    }
    #dawn ul.sub-menu li{
        padding: 26px 0px;
        border: 1px solid black;
        text-align: center;
    }
    
    #dawn ul.sub-menu li:hover{
       background: orange;
    }
    #dawn ul.sub-menu li:hover a{
        color: #fff;
        text-decoration: none;
    }

    
    /*--      投稿フォーム
    -----------------------------------------------*/
    .post-form{
        width: 100%;
        height: 100px;
        display: flex;
        border-bottom: 3px solid #ddd;
    }
    /*--アイコン--*/
    .form-icon{
       display: flex;
       align-items: center;
       padding-left: 30px;
    }
    .form-icon img{
        border-radius: 50%;
    }
    /*--投稿フォーム--*/
    .form-group{
        margin-left: 30px;
    }
    .form-group input{
       padding-right: 450px;
       padding-bottom: 60px;
       border: none;
       background: #f5f8fa;
    }
    /*--投稿矢印画像-*/
    .post-direct{
        display: flex;
        align-items: flex-end;
    }
    .post-direct img{
        margin-bottom: 15px;
    }

    /*--       投稿一覧   
    -----------------------------------------------*/
    .table{
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        display: flex;
        margin-bottom: none;
        padding: 20px;
    }
    .form-table{
        width: 80%;
        display: flex;    
        justify-content: space-between;
        align-items: center;
    }
    .block{
        display: block;
        margin-left: 30px;
    }
    .form-posts{
        display: flex;
    }
    .created_at{
        margin-top: -40px;
    }

    /*--   削除   --*/
    .action-button{
        display: flex;
        position: relative;
        
    }
    .action-button img{
        position: absolute;
        top: 20px;
        margin-left: -50px;
    }
    .action-button .edit img{
        padding-top: 5px;
        margin-left: -85px;
    }

    .trash img:hover{
       background-image: url(../images/trash_h.png);
    }
    
    .trash1{
        transition: .8s;
        transform: rotateY(0deg);
    }
    .trash1:hover{
        transform: rotateY(360deg);
    }
    
    
    
    


    /*--   モーダル --*/ 
    .modal{
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .modal__bg{
        background: rgba(0,0,0,0.3);
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    .modal__content{
        background: #fff;
        left: 50%;
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 30%;
    }
    .modal-img{
        background-image: url(../images/edit.png);
        background-repeat: no-repeat;
        margin-top: 20px;
    }

    /*-- モーダル中身 --*/ 
    .modal__content input{
        width: 100%;
        padding-bottom: 50px;
    }
    .modal__content .post-content p{
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 5px;
    }
    .modal__content .edit{
        display: flex;
        justify-content: space-between;
    }
    .modal__content .edit p{
        margin-top: 20px;
        color: red;
    }
    .modal__content .edit image{
       width: 20px;
       height: auto;
       float: right;
    }


    /*--    search.blade
    ------------------------------------------------------*/
    .search-box{
        width: 100%;
        height: 80px;
        border-bottom: 3px solid #ddd;
        display: flex;
        align-items: center;
    }
    .search-box form{
        width: 500px;
        display: flex;
        justify-content: flex-start;
    }
    .search-box input{
       padding: 5px;
       margin-left: 10px;
    }
    .search-box .text input{
        margin-left: 100px;
        padding-left: 10px;
        padding-right: 150px;
        margin-right: 10px; 
    }
    .search-box p{
        margin-left: 30px;
    }
   
    .search-table{
        height: 80px;
        display: flex;
        align-items: center;
    }
    .search-table img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 10px 0 100px;
    }
    
    .unfollow button{
       padding: 10px 5px;
       width: 120px;
       margin-left: 350px;
       border: none;
       border-radius: 5px;
    }
    .follow button{
       padding: 10px 5px;
       width: 120px;
       margin-left: 350px;
       border: none;
       border-radius: 5px;
    }
    .unfollow button a{
        text-decoration: none;
        color: #fff;
    }
    .follow button a{
        text-decoration: none;
        color: #fff;
    }
    .unfollow button a:hover{
      color: #fff;
    }
    .follow button a:hover{
      color: #fff;
    }
    .unfollow button{
        background: #800000;
    }
    .follow button{
        background: #87ceeb;
    }
    
    /*--     フォローリスト
    ---------------------------------------------------*/
    .forrow-icon{
        width: 100%;
        display: flex;
        padding-left: 80px;
        border-bottom: 3px solid #ddd;
    }
    .forrow-icon img{
        margin: 10px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    
  
    /*--   相手のプロフィール
    ------------------------------------------------------*/
    .follow_info{
        width: 100%;
        display: flex;
        padding: 30px;
    }
    .follow_info .name{
        display: flex;
    }
    .follow_info .bio{
        display: flex;
    }
    .follow_info p{
      margin-right: 50px;
    }
    .follow-button{
        margin-left: 400px;
    }
    .form-icon img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    /*--       プロフィール画面
    --------------------------------------------------*/
    .profile-table{
        text-align: center;
    }
    .profile-table p{
        width: 100px;
    }
    .profile-table input{
        border: none;
        border-bottom: 1px solid black;
        background: #ddd;
    }
    .user-icon img{
        position: relative;
        right: 200px;
        top: 70px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .user_form{
        width: 50%;
        position: relative;
        left: 350px;
        display:block;
        justify-content: space-around;
        
    }
    .input-form{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .input-form input:hover{
        background: #fff;
        border: none;
    }
    .input-form #file.form-control{
       width: 300px; 
       height: 80px;
    }
    .profile-table .submit{
       position: relative;
       margin-top: 30px;
       left: 100px;
    }

    .profile-table .submit input{
        width: 100px;
        border: none;
        background: #6b8b23;
        color: #fff;
        padding: 5px 20px;
        border-radius: 3px;
    }
    